---
import { FrontPage } from "../components/FrontPage.jsx";
import { ErrorBoundary } from "../components/ErrorBoundary.jsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Anna & Marcus</title>
  </head>
  <body>
    <ErrorBoundary>
      <FrontPage client:visible />
    </ErrorBoundary>
  </body>
</html>
