---
import { FrontPage } from "../components/FrontPage.jsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Anna & Marcus</title>
  </head>
  <body>
    <FrontPage client:visible />
  </body>
</html>
